Repository BigBrotr/nostr-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, safety, pip-audit, docs-check

Path conditions:
  bandit: any of: ^src/.*\.py$, but not: (?x)^(
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    \.git/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    __pycache__/|
    \.venv/|
    venv/|
    node_modules/|
    backup_.*|
    docs/_build/|
    docs/_autosummary/|
    src/nostr_tools/_version\.py
)$

  safety: any of: ^(pyproject\.toml|requirements.*\.txt)$, but not: (?x)^(
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    \.git/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    __pycache__/|
    \.venv/|
    venv/|
    node_modules/|
    backup_.*|
    docs/_build/|
    docs/_autosummary/|
    src/nostr_tools/_version\.py
)$

  pip-audit: any of: ^(pyproject\.toml|requirements.*\.txt)$, but not: (?x)^(
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    \.git/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    __pycache__/|
    \.venv/|
    venv/|
    node_modules/|
    backup_.*|
    docs/_build/|
    docs/_autosummary/|
    src/nostr_tools/_version\.py
)$

  docs-check: any of: ^(docs/|src/.*\.py|README\.md|CHANGELOG\.md)$, but not: (?x)^(
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    \.git/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    __pycache__/|
    \.venv/|
    venv/|
    node_modules/|
    backup_.*|
    docs/_build/|
    docs/_autosummary/|
    src/nostr_tools/_version\.py
)$


fix: enable autogeneration of docs with custom template to avoid dataclass field errors
  .gitignore
  docs/_autosummary/nostr_tools.Client.rst
  docs/_autosummary/nostr_tools.Event.rst
  docs/_autosummary/nostr_tools.Filter.rst
  docs/_autosummary/nostr_tools.Relay.rst
  docs/_autosummary/nostr_tools.RelayMetadata.rst
  docs/_autosummary/nostr_tools.calc_event_id.rst
  docs/_autosummary/nostr_tools.check_connectivity.rst
  docs/_autosummary/nostr_tools.fetch_events.rst
  docs/_autosummary/nostr_tools.fetch_nip11.rst
  docs/_autosummary/nostr_tools.generate_event.rst
  docs/_autosummary/nostr_tools.generate_keypair.rst
  docs/_autosummary/nostr_tools.stream_events.rst
  docs/_autosummary/nostr_tools.to_bech32.rst
  docs/_autosummary/nostr_tools.to_hex.rst
  docs/_autosummary/nostr_tools.verify_sig.rst
  docs/_templates/autosummary/class.rst
  docs/conf.py
Due: none

docs: update changelog for v1.1.0 and v1.1.1 releases
  CHANGELOG.md
Due: docs-check

fix: correct GitHub Pages deployment condition for tag events
  .github/workflows/docs.yml
Due: none

docs: regenerate and enhance all docstrings with detailed descriptions and examples
  REFACTORING_SUMMARY.md
  src/nostr_tools/__init__.py
  src/nostr_tools/core/client.py
  src/nostr_tools/core/event.py
  src/nostr_tools/core/filter.py
  src/nostr_tools/core/relay.py
  src/nostr_tools/utils/utils.py
Due: bandit, docs-check

docs: complete API reference with clean autodoc configuration
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/conf.py
  docs/index.rst
  src/nostr_tools/core/client.py
  src/nostr_tools/core/event.py
  src/nostr_tools/core/filter.py
  src/nostr_tools/core/relay.py
  src/nostr_tools/core/relay_metadata.py
Due: bandit, docs-check

docs: fix Sphinx build warnings and dataclass field documentation
  docs/conf.py
  src/nostr_tools/utils/utils.py
Due: bandit, docs-check

refactor: consolidate to unit tests only
  DEVELOPMENT.md
  Makefile
  README.md
  docs/index.rst
  pyproject.toml
  tests/README.md
  tests/__init__.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/test_package.py
  tests/unit/test_actions.py
Due: safety, pip-audit, docs-check

Refactor examples: Create comprehensive progressive learning path
  examples/01_getting_started.py
  examples/02_events_and_filters.py
  examples/03_publishing_and_subscribing.py
  examples/04_relay_capabilities.py
  examples/05_proof_of_work.py
  examples/06_streaming_and_advanced.py
  examples/README.md
  examples/advanced_features.py
  examples/basic_usage.py
Due: none

docs: add full URLs to all linked resources in README and documentation
  README.md
  docs/conf.py
  docs/index.rst
Due: docs-check

docs: streamline documentation and disable linkify extension
  README.md
  docs/conf.py
  docs/index.rst
Due: docs-check

docs: update documentation configuration and templates
  docs/.gitignore
  docs/_templates/autosummary/data.rst
  docs/conf.py
  docs/index.rst
Due: none

docs: update project documentation
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
Due: docs-check

feat: enhance core library functionality
  src/nostr_tools/__init__.py
  src/nostr_tools/actions/actions.py
  src/nostr_tools/core/client.py
  src/nostr_tools/core/filter.py
  src/nostr_tools/core/relay.py
  src/nostr_tools/core/relay_metadata.py
  src/nostr_tools/exceptions/__init__.py
  src/nostr_tools/exceptions/errors.py
Due: bandit, docs-check

docs: update example scripts
  examples/01_getting_started.py
  examples/03_publishing_and_subscribing.py
  examples/05_proof_of_work.py
  examples/06_streaming_and_advanced.py
Due: none

test: update test suite
  tests/README.md
  tests/test_package.py
  tests/unit/test_actions.py
  tests/unit/test_client.py
  tests/unit/test_coverage_boost.py
  tests/unit/test_exceptions.py
  tests/unit/test_relay_metadata.py
  tests/unit/test_utils.py
Due: none

style: apply code formatting and linting fixes
  examples/01_getting_started.py
  examples/03_publishing_and_subscribing.py
  examples/05_proof_of_work.py
  examples/06_streaming_and_advanced.py
  tests/test_package.py
  tests/unit/test_actions.py
  tests/unit/test_client.py
  tests/unit/test_exceptions.py
  tests/unit/test_relay_metadata.py
  tests/unit/test_utils.py
Due: none

Update test files with improved test coverage and fixes
  tests/conftest.py
  tests/unit/test_actions.py
  tests/unit/test_client.py
  tests/unit/test_utils.py
Due: none

Release v1.2.0: Documentation & Release Management
  CHANGELOG.md
  releases/README.md
  releases/v1.0.0.md
  releases/v1.1.0.md
  releases/v1.1.1.md
  releases/v1.2.0.md
Due: docs-check

Add releases folder with comprehensive documentation
  releases/README.md
  releases/v1.0.0.md
  releases/v1.1.0.md
  releases/v1.1.1.md
Due: none

Update release documentation with correct commit hashes
  releases/v1.0.0.md
  releases/v1.2.0.md
Due: none

Update CHANGELOG.md with v1.2.0-only support policy
  CHANGELOG.md
Due: docs-check

docs: update release documentation with correct dates and full commit IDs
  CHANGELOG.md
  releases/README.md
  releases/v1.1.0.md
  releases/v1.1.1.md
  releases/v1.2.0.md
Due: docs-check

fix: update security commands and resolve vulnerabilities
  .gitignore
  DEVELOPMENT.md
  Makefile
  README.md
  SECURITY.md
Due: docs-check

docs: update MANIFEST.in and fix release documentation
  MANIFEST.in
  releases/v1.2.0.md
Due: none

docs: add CLAUDE.md for Claude Code integration
  CLAUDE.md
Due: none

docs: update SECURITY.md to reflect v1.2.0 as only supported version
  SECURITY.md
Due: none

fix: correct date inconsistencies in documentation
  CHANGELOG.md
  SECURITY.md
Due: docs-check

Release v1.2.1: Filter API enhancement with from_subscription_filter()
  CHANGELOG.md
  CLAUDE.md
  DEVELOPMENT.md
  SECURITY.md
  releases/README.md
  releases/v1.2.1.md
  src/nostr_tools/core/filter.py
  tests/unit/test_filter.py
Due: bandit, docs-check

feat: release v1.3.0 - enhanced validation and documentation
  CHANGELOG.md
  SECURITY.md
  releases/README.md
  releases/v1.2.1.md
  releases/v1.3.0.md
  src/nostr_tools/core/client.py
  src/nostr_tools/core/event.py
  src/nostr_tools/core/filter.py
  src/nostr_tools/core/relay.py
  src/nostr_tools/core/relay_metadata.py
  src/nostr_tools/utils/utils.py
  tests/unit/test_event.py
  tests/unit/test_filter.py
  tests/unit/test_relay.py
Due: bandit, docs-check

feat: release v1.4.0 - filter validation enhancement
  CHANGELOG.md
  SECURITY.md
  releases/README.md
  releases/v1.4.0.md
  src/nostr_tools/core/filter.py
  src/nostr_tools/exceptions/errors.py
  tests/unit/test_filter.py
Due: bandit, docs-check

fix: release v1.4.1 - RTT and capability flag consistency
  CHANGELOG.md
  SECURITY.md
  releases/README.md
  releases/v1.3.0.md
  releases/v1.4.0.md
  releases/v1.4.1.md
  src/nostr_tools/actions/actions.py
Due: bandit, docs-check

Correct capitalization in copyright notice
  LICENSE
Due: none
