Repository BigBrotr/nostr-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-clean-build, docs-link-check, test-unit

.pre-commit-config.yaml:

repos:
  # Code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        stages: [commit]
      - id: ruff-format
        stages: [commit]

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --show-error-codes, --no-error-summary]
        stages: [commit]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "nostr_tools"]
        stages: [commit]

  # Documentation build and validation
  - repo: local
    hooks:
      - id: docs-clean-build
        name: Clean and Build Documentation
        entry: bash -c 'make docs-commit-check'
        language: system
        files: '^(docs/|nostr_tools/).*\.(py|rst|md)$'
        pass_filenames: false
        stages: [commit]

      - id: docs-link-check
        name: Validate Documentation Links
        entry: bash -c 'if [ -d "docs/_build/html" ]; then python3 -m pip install linkchecker >/dev/null 2>&1 && linkchecker docs/_build/html/ --check-extern || echo "Link validation completed with warnings"; fi'
        language: system
        files: '^docs/.*\.rst$'
        pass_filenames: false
        stages: [push]

  # Unit tests
  - repo: local
    hooks:
      - id: test-unit
        name: Run Unit Tests
        entry: bash -c 'make test-unit'
        language: system
        files: '^(nostr_tools/|tests/).*\.py$'
        pass_filenames: false
        stages: [commit]

rollback
  .pre-commit-config.yaml
  pyproject.toml
Due: none

update some files to resolve bugs
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  Makefile
  docs/_autosummary/nostr_tools.Client.rst
  docs/_autosummary/nostr_tools.Event.rst
  docs/_autosummary/nostr_tools.Filter.rst
  docs/_autosummary/nostr_tools.Relay.rst
  docs/_autosummary/nostr_tools.RelayConnectionError.rst
  docs/_autosummary/nostr_tools.RelayMetadata.rst
  docs/_autosummary/nostr_tools.calc_event_id.rst
  docs/_autosummary/nostr_tools.check_connectivity.rst
  docs/_autosummary/nostr_tools.check_readability.rst
  docs/_autosummary/nostr_tools.check_writability.rst
  docs/_autosummary/nostr_tools.compute_relay_metadata.rst
  docs/_autosummary/nostr_tools.fetch_connection.rst
  docs/_autosummary/nostr_tools.fetch_events.rst
  docs/_autosummary/nostr_tools.fetch_nip11.rst
  docs/_autosummary/nostr_tools.find_websocket_relay_urls.rst
  docs/_autosummary/nostr_tools.generate_event.rst
  docs/_autosummary/nostr_tools.generate_keypair.rst
  docs/_autosummary/nostr_tools.parse_connection_response.rst
  docs/_autosummary/nostr_tools.parse_nip11_response.rst
  docs/_autosummary/nostr_tools.sanitize.rst
  docs/_autosummary/nostr_tools.sig_event_id.rst
  docs/_autosummary/nostr_tools.stream_events.rst
  docs/_autosummary/nostr_tools.to_bech32.rst
  docs/_autosummary/nostr_tools.to_hex.rst
  docs/_autosummary/nostr_tools.validate_keypair.rst
  docs/_autosummary/nostr_tools.verify_sig.rst
  docs/_templates/autosummary/class.rst
  docs/conf.py
  pyproject.toml
  tests/test_security.py
Due: docs-clean-build, docs-link-check, test-unit

removed docs.yml
  .github/workflows/docs.yml
Due: none

changed docs link
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
  setup.py
Due: none

added docs.yml
  .github/workflows/docs.yml
  pyproject.toml
Due: none

update versions
  .github/workflows/docs.yml
Due: none

removed dependendy
  pyproject.toml
Due: none

update files
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  Makefile
  pyproject.toml
  src/nostr-tools/__init__.py
Due: none

update
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  CHANGELOG.md
  README.md
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
Due: docs-clean-build, docs-link-check

update
  empty
Due: none

update
  src/nostr_tools/__init__.py
  src/nostr_tools/_version.py
  src/nostr_tools/actions/__init__.py
  src/nostr_tools/actions/actions.py
  src/nostr_tools/core/__init__.py
  src/nostr_tools/core/client.py
  src/nostr_tools/core/event.py
  src/nostr_tools/core/filter.py
  src/nostr_tools/core/relay.py
  src/nostr_tools/core/relay_metadata.py
  src/nostr_tools/exceptions/__init__.py
  src/nostr_tools/exceptions/errors.py
  src/nostr_tools/py.typed
  src/nostr_tools/utils/__init__.py
  src/nostr_tools/utils/utils.py
Due: none

update
  .github/workflows/ci.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  pyproject.toml
Due: none

update
  .github/workflows/ci.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  pyproject.toml
  src/nostr_tools/_version.py
Due: none

update
  empty
  src/nostr_tools/_version.py
Due: none

update
  .readthedocs.yaml
  docs/requirements.txt
  pyproject.toml
  src/nostr_tools/_version.py
Due: none

update
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  .secrets.baseline
  CHANGELOG.md
  CONTRIBUTING.md
  MANIFEST.in
  Makefile
  README.md
  SECURITY.md
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  examples/advanced_features.py
  examples/basic_usage.py
  pyproject.toml
  src/nostr_tools/__init__.py
  src/nostr_tools/_version.py
  src/nostr_tools/actions/__init__.py
  src/nostr_tools/actions/actions.py
  src/nostr_tools/core/client.py
  src/nostr_tools/core/event.py
  src/nostr_tools/core/filter.py
  src/nostr_tools/core/relay_metadata.py
  src/nostr_tools/utils/__init__.py
  src/nostr_tools/utils/utils.py
  tests/conftest.py
  tests/test_basic.py
  tests/test_integration.py
  tests/test_performance.py
  tests/test_security.py
Due: docs-clean-build, docs-link-check, test-unit

update tests for more coverage
  tests/test_basic.py
  tests/test_integration.py
  tests/test_performance.py
Due: test-unit

update github/workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/maintenance.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

run all tests at once
  .github/workflows/ci.yml
Due: none

update
  .gitignore
  src/nostr_tools/_version.py
Due: none

update
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

update ci.yml
  .github/workflows/ci.yml
Due: none

added all macos tests
  .github/workflows/ci.yml
Due: none

update test issue
  .github/workflows/ci.yml
  tests/test_security.py
Due: test-unit

fixed tests
  tests/test_security.py
Due: test-unit

new version of publish.yml
  .github/workflows/publish.yml
Due: none

fixed test_event_id_tampering_detection
  tests/test_security.py
Due: test-unit

fixed test_client_listen_websocket_message_types
  tests/test_integration.py
Due: test-unit

updated .gitignore
  .gitignore
Due: none

modified: pyproject.toml
  pyproject.toml
Due: none

handle _version.py
  pyproject.toml
Due: none

fixed typo
  pyproject.toml
Due: none

fixed pyproject.toml
  pyproject.toml
Due: none

fix pyproject.toml
  pyproject.toml
Due: none

fix issue with _version.py
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Due: none

exclude _version.py
  .github/workflows/publish.yml
  Makefile
Due: none
